
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Roboto+Slab&display=swap');
.section3 h1{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: 700;
}
.container{
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
}
.section3 h2{
    color:#1E4681;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 700px;
}
.section3 .block{
    display: flex;
    justify-content: space-between;
}
.section3 p{
    font-family: 'Roboto Slab', serif;
    font-weight: 400px;
    font-size: 18px;
}
.section4{
    width: 85%;
    margin: auto; 
}
.section4 h1{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: 700;
}
.section4 ul{
    font-weight: 400px;
    font-size: 24px;
height: 374px;
width: 662px;
}
@media screen and (min-width: 992px)and (max-width: 1279px) {
    .section3 .one {
        font-size: 11px;
        width: 60%;
        
    }
    .section3 .two{
font-size: 11px;
width: 60%;
    }
    .section3 .three{
        font-size: 11px;
        width: 60%;
    }
    .section3 h1{
        font-size: 32px;
      }
      .section3 h2{
        font-size: 15px;
      }
      .section4 h1{
        font-size: 32px;
      }
      .section4 ul{
        font-size: 14px;
        width: 60%;
      }
}
@media screen and (min-width:320px)and (max-width: 991px) {
.section3 h1{
    font-size: 26px;
}
.section3 h2{
    font-size: 12px;
}
.section3 p{
    font-size: 10px;
    width:60% ;
}
.section4 h1{
    font-size: 26px;
}
.section4 ul{
    font-size: 12px;
    width: 60%;
}
}