@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.section-1 {
    height: 980px;
    box-sizing: border-box;
}
.container-1 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-1 .first {
    height: 100px;
}
.section-1 .first .black {
    width: 60px;
    height: 15px;
    background-color: black;
}
.section-1 .second {
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.section-1 .second .second-first {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-1 .second h1 {
    font-size: 700;
    font-size: 80px;
    width: 80%;
}
.section-1 .second-first p {
    width: 50%;
    font-size: 20px;
}
.section-1 .second .second-first-top {
    padding-top: 30px;
    width: 80%;
    display: flex;
}
.section-1 .second .second-first-top div {
    display: flex;
    width: 34%;
}
.section-1 .second .second-first-top div p {
    font-size: 17px;
}
.section-1 .second .ellipse3 {
    position: relative;
    height: 410px;
}
.section-1 .image9 {
    width: 100%;
}
 .section-1 .ellipse-gray3 {
    width: 100%;     
    position: absolute;
    z-index: -1;
   bottom: 10px;
    
}
.section-1 .second .second-first-top img {
   height: 20px;
   margin-top:16px;
   margin-right: 5px;
}
.section-1 .third {
    height: 360px;
}
.section-1 .third .third-block {
    height: 180px;
    background-color: #1E4681;
    width: 34%;
    margin: auto;
    color: white;
    font-size: 25px;
    padding: 4px;
    margin-top: 90px;
}
.section-1 .third .ordinary {
    display: flex;
    justify-content: flex-end;
}
.section-2 {
    width: 85%;
    margin: auto;
    height: 900px;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 40px
}
.main-part {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
} 
.main-p {
    width: 50%;
}
.ellipse {          
    position: relative;
    height: 350px;
}
.image1 {
    width: 100%;
}
.image2 {
    width: 100%;     
    position: absolute;
    bottom: 15px;
    z-index: -1;
}
.end-part {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-weight: 400;
    font-size: 18px;
}
.ellipse2 {
    position: relative;
    height: 230px;
}
.image4 {
   width: 100%;
   position: absolute;
   bottom: 10px;
   z-index: -1;
   left: 10px;
}
@media screen and (min-width:992px) and (max-width:1279px) {
    .section-1 {
        height: 960px;
       }
     .section-1 .second-first-top p {
        width: 80%;
    }
    .section-1 .second h1 {
        width: 80%;
        font-size: 60px;
    }
    .section-1 .second img {
        margin-top: 70px;
    }
    .section-1 .second-first-bottom p {
        width: 70%;
    }
    .section-1 .second .ellipse3 {
        position: relative;
        height: 460px;
        
    }
    .section-1 .image9 {
        width: 100%;
    }
     .section-1 .ellipse-gray3 {
        width: 100%;     
        position: absolute;
        z-index: -1;
       bottom: 10px;
        
    }
    .section-1 .end-part {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .section-1 .third .third-block {
        height: 160px;
        background-color: #1E4681;
        width: 50%;
    }
    .section-1 .third-block p {
     font-size: 22px;
}
    .section-2 {
    height: 500px;
   }
    .section-2 h1 {
        font-size: 32px;
    }
   .section-2 .main-p {
        font-size: 14px;
    }
    .section-2 .ellipse {
        height: 210px;
    }
    .section-2 .image1 {
        height: 180px;
    }
    .section-2 .end-part {
        justify-content: flex-start;
        gap: 10px;
    }
    .section-2 .ellipse2 {
        display: none;
    }
    .section-2 .bottom-p h3 {
        font-size: 15px;
    }
    .section-2 .bottom-p p {
        font-size: 11px;
    }
}
@media screen and (min-width:320px) and (max-width:991px) {
    .section-1 {
        height: 1400px;
       }
       .section-1 h1 {
        font-size: 700;
        font-size: 60px;
        width: 80%;
    }
    .section-1 .second {
        display: block;
        height: 950px;
    }
   .section-1 .second-first-top p {
        width: 100%;
    }
    .second-first-bottom p {
        width: 70%;
    }
    .section-1 .third .third-block {
        height: 220px;
        background-color: #1E4681;
        width: 70%;
        
    }
    .second-second {
        display: flex;
        justify-content: flex-end;
    }
    .third-block p {
        font-size: 22px;
    }
    .section-2 {
    height: 900px;

   }
    .section-2 h1 {
        font-size: 26px;

    }
    .main-part {
        display: block;
    }
.main-p {
    font-size: 18px;
    width: 100%;
}
.ellipse {
    width:30%;
    margin: auto;
    height: 176px;

}
.image1 {
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.end-part {
    flex-wrap: wrap;
    justify-content: flex-start;
}
.ellipse2 {
    display: none;
}
.bottom-p {
    flex-basis: 34%;
}
.bottom-p h3 {
    font-size: 12px;
}
.bottom-p p {
    font-size: 10px;
}
}